<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">みんなのwantランキング</div>
      <div class=container>
        <table class="basic">
          <thead>
            <tr>
              <th>順位</th>
              <th>商品名</th>
              <th>wantの数</th>
            </tr>
          </thead>
          <tbody>
              <% @want.each do |item_id, count| %>
            <tr>
              <th></th>
              <td>
              <a href= <%= Item.find(item_id).detail_page_url %>>
                <%= Item.find(item_id).title %> </a>
              </td>
              <td><%= count %></td>
            </tr>
              <% end %>
          </tbody>
        </table>
      </div>

</div>